doctype html
head
    title TS Quiz
    meta(charset='UTF-8')
    style
        include main.css

.topnav
    a(href='./quizzes') « Quizzes

div(style='text-align:center')
    h1(style='font-size: 80px') Results
    table
        tr
            th No.
            th Question
            th Correct Ans.
            th Your Ans.
            th Score
        each stat in stats
            tr
                td= stat.num
                td= stat.question_str
                td= stat.ans
                td= stat.your_ans
                td= stat.score

    h2="Overall Score: " + overall_score
    script(src='assets/js/results.js')